h1 {
    margin-bottom: 0;
}

p {
    margin-bottom: 1.125rem;
}

img.featured_image {
    width: 100%;
    margin-top: 1.125rem;
    margin-bottom: 1.5rem;
}

.metadata {
    color: #D2CDCC;/* Smoke Gray */
    font-weight: 500;
    font-size: 0.875rem;
}

.date, .author {
    display: inline;
    margin-right: 1rem;
}

.tags {
    margin-top: 0.5rem;
}

.tags span {
    font-size: 0.6375rem;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #00AAE7; /* Eaze Blue */
    color: #fff;
    margin-right: 0.25rem;
    padding: 0.375rem;
    display: inline-block;
}
